<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <div style="width: 100%;margin-top: 5%;" class="container-fluid">
            <div style="width: 70%;float: right;">
                <div>
                    <h4><strong>Quýt</strong> </h4>
                    <hr>
                    <div>
                        <a href="">Trang chủ</a> / <a href="">Quỷt</a>
                    </div>
                    <div>
                    </div>
                    <div style="width:100%;margin-top: 10%;" class="row">
                        <div class=""><img src="/assets/images/quyt.jpg" alt=""></div>
                        <div class="col-6">
                            <h4><strong>Quýt Úc</strong> </h4> 
                            
                            <table>
                                <tr>
                                  <td><h5><strong>GIÁ : </strong> </h5></td>
                                  <td><h5 style="color: red;"><strong>1.000.000</strong> </h5></td>
                                </tr>
                                <tr>
                                  <td> <h5><strong>SỐ LƯỢNG : </strong></h5></td>
                                  <td><h5><input style="color: blue;width: 50px;" type="number" ></h5></td>
                                </tr>
                                <tr>
                                    <td> <h5><strong>KKÍCH THƯỚC : </strong></h5></td>
                                    <td><h5><input style="color: blue;width: 50px;" type="number" >cm</h5></td>
                                  </tr>
                              </table>
                            <div style="margin: 30px;" class="text-center">
                                <button style="width: 40%;" type="button" class="btn btn-default"> THÊM VÀO GIỎ HÀNG
                                  </button>
                                  <button style="width: 40%;" type="button" class="btn btn-danger"> MUA NGAY
                                  </button>
                                  
                                    
                              </div>
                        </div>
                        
    
                    </div>
                    
                </div>
                <div style="margin-top: 10%;">
    
                    <hr>
                    <p>Quýt Úc được trồng rộng rãi ở Nam Úc nơi mà khí hậu nhiệt đới và cận nhiệt đới ấm nóng. Tạo điều kiện thích hợp cho quýt úc phát triển đạt độ ngon ngọt nhất.
    
                        Bạn sẽ dễ dàng mua được quýt úc tại các cửa hàng  hoa quả nhập khẩu từ tháng 4 đến tháng 10. 
                        
                        Quýt úc có màu vàng ươm, các đốm tinh dầu to bóng, quả hơi dẹt. Thịt mọng nước, vị ngọt, có hạt. Hương vị tươi mới khiến bạn phát cuồng và không ngừng ăn chúng đấy.
                        
                        Trung bình khoảng 5 quả/kg. Màu sắc tươi sáng, hương vị hoàn hảo rất phù hợp để làm quà tặng, quà biếu cho những người thân yêu đấy
                        
                        -   Vitamin C có trong quýt úc giúp bổ sung năng lượng cho các bà mẹ khi mới sinh
                        
                        -   Quýt chứa nhiều axit amin, đường hợp chất, chất béo, photpho, sắt..
                        
                        -   Bạn vẫn có thể tận dụng được vỏ quýt bởi nó chứa nhiều vitamin D duy trì tính dẻo của huyết quản mao mạch, phòng chống mạch máu mỡ và thấm máu
                        
                        -   Đây là một loại hoa quả, thực phẩm ăn kiêng giàu chất xơ, vitamin A, B, canxi, Magnesium, sắt, đồng, iot… giảm nguy cơ mắc bệnh sỏi thận, giảm lượng calo dư thừa</p>
                    <div>
                    </div>
                    <div style="width:100%;margin-top: 10%;">
                        <div class="text-center"><img src="/assets/images/quyt.jpg" alt=""></div>
    
                    </div>
                    
                </div>
    
                <div style="margin-top: 10%;">
                    <h4>SẢN PHẨM LIÊN QUAN</h4>
                    <hr>
        
                    <div class="row">
                        <div class="col-4">
                            <form style="border: 1px solid black;border-radius: 10%;">
                                <div class="form-group text-center">
                                    <img src="/assets/images/quyt.jpg" alt="" width="250px" style="margin-top: 10px;">
                                </div>
                                <div class="title text-center" style="margin: 30px;">
                                    <h4>Quyt</h4>
                                </div>
                                <div style="margin: 30px;" class="text-center">
                                    <button style="width: 100%;" type="submit" class="btn btn-success">Đặt mua</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-4">
                            <form style="border: 1px solid black;border-radius: 10%;">
                                <div class="form-group text-center">
                                    <img src="/assets/images/quyt.jpg" alt="" width="250px" style="margin-top: 10px;">
                                </div>
                                <div class="title text-center" style="margin: 30px;">
                                    <h4>Quyt</h4>
                                </div>
                                <div style="margin: 30px;" class="text-center">
                                    <button style="width: 100%;" type="submit" class="btn btn-success">Đặt mua</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-4">
                            <form style="border: 1px solid black;border-radius: 10%;">
                                <div class="form-group text-center">
                                    <img src="/assets/images/quyt.jpg" alt="" width="250px" style="margin-top: 10px;">
                                </div>
                                <div class="title text-center" style="margin: 30px;">
                                    <h4>Quyt</h4>
                                </div>
                                <div style="margin: 30px;" class="text-center">
                                    <button  style="width: 100%;" type="submit" class="btn btn-success">Đặt mua</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 20%;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                          <strong><i class="fa-solid fa-list"></i> DOANH MỤC SẢN PHẨM</strong>
                        </div>
                    <div class="list-group">
                        <a href="" class="list-group-item">Cam</a>
                        <a href="" class="list-group-item">Quýt</a>
                        <a href="" class="list-group-item">Nho</a>
                        <a href="" class="list-group-item">Táo</a>
                        <a href="" class="list-group-item">Bưởi</a>
                        <a href="" class="list-group-item">Mận</a>
                    </div>
                </div>
    
                <div class="panel panel-default">
                    <div class="panel-heading">
                          <strong><i class="fa-solid fa-list"></i> TIN TỨC</strong>
                        </div>
                    <div class="">
                        <img src="/assets/images/quyt.jpg" alt="" width="297px">
                    </div>
                    <div>
                        <a href="">Những lợi ích tuyệt vời của trái Cherry | HanFruit</a>
                        <p>Những lợi ích tuyệt vời của trái Cherry | HanFruit. Trái cây nhập khẩu HanFruit - chuyên cung cấp trái cây nhập khẩu sỉ và lẻ, xin vui lòng liên hệ sđt: 0919.323.668 - 0943.74.84.84.</p>
                    </div>
                </div>
            </div>
    
        </div>
        
    </main>

</div>